.navbar_box {
  background-color: azure;
  border-bottom: rgb(199, 183, 183);
}

.navbar-links-item {
  margin: 0;
  padding: 15px;
  display: inline-block;
  width:30rem;
}

li {
  list-style-type: none;
  padding: 10px;
  display: inline;
}

a {
  text-decoration: none;
  display: inline-block;
  width:20rem;
}

a.item{
  display: inline;
}
